body {
  background: #010001;
  color: #ffffff;
  margin: 0;
  padding-top: 53px;
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.item-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 14px;
}
.item-link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  transform: scaleX(0);
}
.item-link:hover::after {
  transform: scaleX(1);
}
.secondary-nav .item-link {
  color: #808080;
}
.secondary-nav .item-link:hover {
  color: #fff;
}
.main {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 26px;
  margin-top: 0;
}
.description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  max-width: 268px;
  margin: auto;
}
.description::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 26px;
}

.video {
  height: 750px;
  max-width: 1230px;
  width: 90%;
  margin: auto;
}
.features {
  position: relative;
  max-width: 1230px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.table {
  margin-bottom: 200px;
}
.table-column {
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
}
.features-text {
  max-width: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}
.rocket {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 99;
  max-width: 300px;
}
.text-grey {
  color: #b2b0b2;
}
.footer {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav .item-link {
  font-size: 18px;
  line-height: 21px;
}
.footer .logo {
  margin-bottom: 43px;
}
.footer-nav {
  margin-bottom: 30px;
}
.footer-text {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 28px;
  margin-top: 0;
}
.footer-link {
  color: #808080;
  text-decoration: none;
}
.button {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  min-width: 260px;
  min-height: 60px;
  text-align: center;
  padding: 20px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
}

@media (max-width: 960px) {
  .rocket {
    max-width: 230px;
  }
  .table-column {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .logo {
    margin-bottom: 20px;
  }
  .header .main-menu {
    margin-bottom: 20px;
  }
  .rocket{
    max-width: 170px;
  }
  .video{
    width: 100%;
  }
}
@media (max-width: 576px) {
  .rocket{
    position: static;
    margin-bottom: 30px;
  }
  .table{
    margin-bottom: 0;
  }
  .table-column{
    font-size: 14px;
    max-width: 150px;
  }
  .footer-nav .list{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-nav .item{
    margin-bottom: 10px;
  }
  .footer{
    text-align: center;
  }
  .main{
    padding-top: 50px;
  }
  .features{
    padding-bottom: 0;
  }
}